[Unit]
Description=Wi-Fi Car
After=network.target

[Service]
ExecStart=/usr/bin/python /usr/share/wificar/car_server.py
Restart=always
RestartSec=3s

[Install]
WantedBy=multi-user.target
